.bg {
  background: #DEBD6F url("../../../assets/img/bg.png") no-repeat top;
}

h1 {
  color: #000000;
  font-size: 45px;
  font-family: "Microsoft YaHei";
}

ul, li {
  list-style: none;
  color: #000000;
  font-family: "Microsoft YaHei";
}

.hot {
  a {
    background-color: rgba(255, 255, 255, 0.15);
    color: #000000;
  }
  .hot-title {
    border: 1px solid #000000;
  }

}

.hot-person {
  .person-title {
    a {
      color: #737373;
    }
    a:hover {
      color: #0084ff;
    }
  }
  .person-time {
    color: #b4b4b9;
  }
}
