<div class="container-fluid bg" style="margin-top: -20px">
  <div class="row flex-column">
    <h1 class="align-self-center mb-5 mt-5">查老板，就上企信通！</h1>
    <div class="align-self-stretch d-flex justify-content-center mb-2">
      <div class="input-group input-group-lg" style="max-width: 60%">
        <input type="search" name="q" class="form-control rounded-0" style="font-size: 14px;border: none"
               placeholder="请输入法定代表人、股东或高管姓名，如“雷军”">
        <div class="input-group-btn btn-group-lg">
          <button style="width: 80px" class="btn btn-info rounded-0" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="align-self-center row justify-content-between mt-5 mb-5 hot">
      <a class="px-2 mr-2 text-center hot-title f-14" href="#">
        <div>热点</div>
        <div>人物</div>
      </a>
      <a *ngFor="let a of [1,2,3,4,5,6]" class="mr-2 d-inline-flex" href="#">
        <span>
          <img style="width: 44px"
               src="https://img.tianyancha.com/logo/human2/803dc6295fccfad7a7dfb185efac5e4c.png@!watermark01" alt="马化腾">
        </span>
        <span class="align-self-center px-2">马化腾</span>
      </a>
    </div>
  </div>
</div>
<div class="container mt-5 px-0" style="background: #ffffff">
  <div class="py-3">
    <h3 class="text-center" style="font-size: 24px;">热点人物资讯</h3>
    <div class="d-flex py-3 px-3">
      <div class="mx-2 px-2 py-3 flex-grow-1 border hot-person">
        <a href="#">
          <img style="height: 180px" src="https://image.tianyancha.com/d20e327f16464d5baa4ddb0809b64a28.jpg"
               alt="侮辱慰安妇的网红Ayawawa遭禁言">
        </a>
        <div class="mt-1 person-title">
          <a  href="#">侮辱慰安妇的网红Ayawawa遭禁言</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-05-27</span>
        </div>
      </div>
      <div class="mx-2 px-2 py-3 flex-grow-1 border hot-person">
        <a href="#">
          <img style="height: 180px" src="https://image.tianyancha.com/4fe5ffc5d43f48ceae24aa520ef4a84d.jpg"
               alt="侮辱慰安妇的网红Ayawawa遭禁言">
        </a>
        <div class="mt-1 person-title">
          <a  href="#">侮辱慰安妇的网红Ayawawa遭禁言</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-05-27</span>
        </div>
      </div>
      <div class="mx-2 px-2 py-3 flex-grow-1 border hot-person">
        <a href="#">
          <img style="height: 180px" src="https://image.tianyancha.com/d20e327f16464d5baa4ddb0809b64a28.jpg"
               alt="侮辱慰安妇的网红Ayawawa遭禁言">
        </a>
        <div class="mt-1 person-title">
          <a  href="#">侮辱慰安妇的网红Ayawawa遭禁言</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-05-27</span>
        </div>
      </div>
    </div>
    <div class="d-flex py-3 px-3">
      <div class="mx-2 px-2 py-3 flex-grow-1 border hot-person">
        <a href="#">
          <img style="height: 180px" src="https://image.tianyancha.com/d20e327f16464d5baa4ddb0809b64a28.jpg"
               alt="侮辱慰安妇的网红Ayawawa遭禁言">
        </a>
        <div class="mt-1 person-title">
          <a  href="#">侮辱慰安妇的网红Ayawawa遭禁言</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-05-27</span>
        </div>
      </div>
      <div class="mx-2 px-2 py-3 flex-grow-1 border hot-person">
        <a href="#">
          <img style="height: 180px" src="https://image.tianyancha.com/4fe5ffc5d43f48ceae24aa520ef4a84d.jpg"
               alt="侮辱慰安妇的网红Ayawawa遭禁言">
        </a>
        <div class="mt-1 person-title">
          <a  href="#">侮辱慰安妇的网红Ayawawa遭禁言</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-05-27</span>
        </div>
      </div>
      <div class="mx-2 px-2 py-3 flex-grow-1 border hot-person">
        <a href="#">
          <img style="height: 180px" src="https://image.tianyancha.com/d20e327f16464d5baa4ddb0809b64a28.jpg"
               alt="侮辱慰安妇的网红Ayawawa遭禁言">
        </a>
        <div class="mt-1 person-title">
          <a  href="#">侮辱慰安妇的网红Ayawawa遭禁言</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-05-27</span>
        </div>
      </div>
    </div>
  </div>
</div>
