<div class="container-fluid bg" style="margin-top: -20px">
  <div class="row flex-column">
    <h1 class="align-self-center mb-5 mt-5" style="color: #5a5a5a">查老板，就上企信通！</h1>
    <div class="align-self-stretch d-flex justify-content-center mb-2">
      <div class="input-group input-group-lg" style="max-width: 60%">
        <input type="search" name="q" class="form-control rounded-0" style="font-size: 14px;border: none"
               placeholder="请输入法定代表人、股东或高管姓名，如“雷军”">
        <div class="input-group-btn btn-group-lg">
          <button style="width: 80px" class="btn btn-info rounded-0" routerLink="/boss"><i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="align-self-center row justify-content-between mt-5 mb-5 hot">
      <a class="px-2 mr-2 text-center align-self-center hot-title f-14" href="#" style="color: #5a5a5a">
        <div>热点</div>
        <div>人物</div>
      </a>
      <a class="mr-2 d-inline-flex align-self-center" href="#" style="color: #5a5a5a">
        <span>
          <img style="width: 44px"
               src="https://img.tianyancha.com/logo/human2/a30437ddf24d54d50e143fa102000a25.png@!watermark01" alt="李冰冰">
        </span>
        <span class="align-self-center px-2">李冰冰</span>
      </a>
      <a class="mr-2 d-inline-flex align-self-center" href="#" style="color: #5a5a5a">
        <span>
          <img style="width: 44px"
               src="https://img.tianyancha.com/logo/human2/3523c6e7648a5f98b047e60672fbe7ab.png@!watermark01" alt="杨幂">
        </span>
        <span class="align-self-center px-2">杨幂</span>
      </a>
      <a class="mr-2 d-inline-flex align-self-center" href="#" style="color: #5a5a5a">
        <span>
          <img style="width: 44px"
               src="https://img.tianyancha.com/logo/human2/803dc6295fccfad7a7dfb185efac5e4c.png@!watermark01" alt="马化腾">
        </span>
        <span class="align-self-center px-2">马化腾</span>
      </a>
      <a class="mr-2 d-inline-flex align-self-center" href="#" style="color: #5a5a5a">
        <span>
          <img style="width: 44px"
               src="https://img.tianyancha.com/logo/human2/2a992f587094dcfce37b8ecd62524cc7.png@!watermark01" alt="雷军">
        </span>
        <span class="align-self-center px-2">雷军</span>
      </a>
      <a class="mr-2 d-inline-flex align-self-center" href="#" style="color: #5a5a5a">
        <span>
          <img style="width: 44px"
               src="https://img.tianyancha.com/logo/human2/7252138c33091ec076b8070e435c9dab.png@!watermark01" alt="赵薇">
        </span>
        <span class="align-self-center px-2">赵薇</span>
      </a>
      <a class="mr-2 d-inline-flex align-self-center" href="#" style="color: #5a5a5a">
        <span>
          <img style="width: 44px"
               src="https://img.tianyancha.com/logo/human2/5172e25d9cebfe1776c55644035f2766.png@!watermark01" alt="王长田">
        </span>
        <span class="align-self-center px-2">王长田</span>
      </a>
    </div>
  </div>
</div>
<div class="container mt-5 px-0" style="background: #ffffff">
  <div class="py-3">
    <h3 class="text-center" style="font-size: 24px;">热门媒体动态</h3>
    <div class="d-flex py-3 px-3">
      <div style="width:25%" class="mx-2 px-2 py-3 flex-grow-1 border hot-person">
        <a href="#">
          <img style="width:271px;height:171px;" src="https://image.tianyancha.com/d16bb85b753c418eb66057a52ab245cc.jpg"
               alt="Papi酱任百度App首席内容官，真相却是…">
        </a>
        <div class="mt-1 person-title">
          <a href="#">Papi酱任百度App首席内容官，真相却是…</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-06-22</span>
        </div>
      </div>
      <div style="width:25%" class="mx-2 px-2 py-3 flex-grow-1 border hot-person">
        <a href="#">
          <img style="width:271px;height:171px;" src="https://image.tianyancha.com/bd8e31eb8dc34373bfc20e400fd0c194.jpg"
               alt="小岳岳听了想哭！《新五环之歌》侵权遭索赔50万">
        </a>
        <div class="mt-1 person-title">
          <a href="#">小岳岳听了想哭！《新五环之歌》侵权遭索赔50万</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-06-21</span>
        </div>
      </div>
      <div style="width:25%" class="mx-2 px-2 py-3 flex-grow-1 border hot-person">
        <a href="#">
          <img style="width:271px;height:171px;" src="https://image.tianyancha.com/c8807bb8e1d849c7b2413dcf17d6ae7b.jpg"
               alt="世纪华通拟收购盛大游戏，游戏王能否重归？">
        </a>
        <div class="mt-1 person-title">
          <a href="#">世纪华通拟收购盛大游戏，游戏王能否重归？</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-05-27</span>
        </div>
      </div>
      <div style="width:25%" class="mx-2 px-2 py-3 border hot-person">
        <a href="#">
          <img style="width:271px;height:171px;" src="https://image.tianyancha.com/4fe5ffc5d43f48ceae24aa520ef4a84d.jpg"
               alt="侮辱慰安妇的网红Ayawawa遭禁言">
        </a>
        <div class="mt-1 person-title">
          <a href="#">侮辱慰安妇的网红Ayawawa遭禁言</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-05-27</span>
        </div>
      </div>
    </div>
    <div class="d-flex py-3 px-3">
      <div style="width:25%" class="mx-2 px-2 py-3 border hot-person">
        <a href="#">
          <img style="width:271px;height:171px;" src="https://image.tianyancha.com/ca78f41a0842494f9e9403663482684c.jpg"
               alt="陆奇退场后的第五天，百度又回到了原地">
        </a>
        <div class="mt-1 person-title">
          <a href="#">陆奇退场后的第五天，百度又回到了原地</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-05-22</span>
        </div>
      </div>
      <div style="width:25%" class="mx-2 px-2 py-3 border hot-person">
        <a href="#">
          <img style="width:271px;height:171px;" src="https://image.tianyancha.com/d20e327f16464d5baa4ddb0809b64a28.jpg"
               alt="从“北上广”到“女子图鉴”现实题材作品正被透支">
        </a>
        <div class="mt-1 person-title">
          <a href="#">从“北上广”到“女子图鉴”现实题材作品正被透支</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-05-18</span>
        </div>
      </div>
      <div style="width:25%" class="mx-2 px-2 py-3 border hot-person">
        <a href="#">
          <img style="width:271px;height:171px;" src="https://image.tianyancha.com/b74fe4d8150843a0bcb27563b16041c4.jpg"
               alt="双面李利娟：收养上百弃婴的“爱心妈妈”被刑拘">
        </a>
        <div class="mt-1 person-title">
          <a href="#">双面李利娟：收养上百弃婴的“爱心妈妈”被刑拘</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-05-14</span>
        </div>
      </div>
      <div style="width:25%" class="mx-2 px-2 py-3 border hot-person">
        <a href="#">
          <img style="width:271px;height:171px;" src="https://image.tianyancha.com/7741fac98cd049f3b2cba3406c417114.jpg"
               alt="《后来的我们》退票风波后续，谁站出来说了真话？">
        </a>
        <div class="mt-1 person-title">
          <a href="#">《后来的我们》退票风波后续，谁站出来说了真话？</a>
        </div>
        <div class="mt-2 f-13 person-time">
          <i class="fa fa-calendar"></i>
          <span class="pl-2">2018-05-03</span>
        </div>
      </div>
    </div>
  </div>
</div>
