<mat-card class="mt-4 py-0">
  <div class="d-flex justify-content-between">
    <span class="align-self-center">搜索到 1245 位同名 “雷军” 的人员</span>
    <mat-form-field style="width: 15%">
      <mat-select [(value)]="selected">
        <mat-option value="option1">默认排序</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>
  <div class="py-3 d-flex justify-content-between">
    <span class="align-self-center">
      小查为您找到 4887 家符合条件的企业
    </span>
    <button mat-button>导出数据</button>
  </div>
  <mat-divider></mat-divider>
  <div class="my-2 d-flex justify-content-between">
    <span>公司</span>
    <span class="mr-3">状态</span>
  </div>
  <div *ngFor="let c of company" class="d-flex justify-content-between">
    <mat-divider></mat-divider>
    <div class="d-flex">
      <img class="align-self-center mr-4" style="width: 80px; height: 80px"
           src="http://co-image.qichacha.com/CompanyImage/9cce0780ab7644008b73bc2120479d31.jpg">
      <div class="py-3">
        <p class="mb-2"><a style="font-size: 18px; color: black; font-weight: bold">{{c.name}}</a></p>
        <p class="f-14 mb-2">法定代表人： {{c.represent}}<span class="ml-3">注册资本：{{c.capital}}万人民币元</span> <span
          class="ml-3">成立时间：{{c.found_time}}</span></p>
        <p class="f-14 mb-2">邮箱：{{c.mail}} <span class="ml-3">电话：{{c.phone}}</span>&nbsp;<a>更多号码</a></p>
        <p class="f-14 mb-2">地址：{{c.addr}}</p>
        <p class="f-14 mb-2"><i class="fa fa-search"></i>法定代表人：<em>{{c.represent}}</em></p>
      </div>
    </div>
    <span class="align-self-center mr-3">在业</span>
  </div>
</mat-card>
