<div class="container mt-3">
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <section class="panel" style="background-color: #ffffff">
        <div class="panel-body" style="padding: 30px 48px 20px;"><h2 class="album-detail-title"><span
          style="font-size: 30px;margin-bottom: 22px;line-height: 1.5;font-weight:bold;"
          class="text-dark">唯品会的自我革命与救赎</span></h2>
          <p>
            来源：<a class="text-primary" href="http://news.pedaily.cn/201806/432127.shtml" rel="nofollow">投资界</a>
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;发表于 2018-06-07

          </p>
          <div class="news-content text-dark m-b-lg"><p>
            刚刚过去的5月对唯品会来说是一个值得纪念的月份：度过了十周岁的生日、发布了2018Q1财报、上线了唯品会男士版，且微信小程序“唯品男士”同步开通。
          </p>
            <p><br></p>
            <p>
              这三件事对于当下的唯品会来说都算是大事，有喜悦也有焦虑。十年对唯品会来说，是一个“质变”，唯品会已经不再局限于电商业务。金融、物流陪伴左右，三驾马车并驾齐驱让唯品会的业务更加多元化了。
            </p>
            <p><br></p>
            <p style="text-align:center;"><img
              src="http://co-image.qichacha.com/upload/chacha/img/20180607/1528341937123382.jpg"></p>
            <p><br></p>
            <p>
              不过，业务多元化的背后，唯品会的另一面也展示在了众人面前。根据唯品会5月18日发布的2018Q1财报来看，唯品会第一季度总净营收为人民币199亿元(约合32亿美元)，比去年同期的人民币160亿元增长24.6%。虽说总营收为增长状态，但增速却持续放缓，从2016Q2到2017Q4依次为49.0%、38.4%、36.5%、31.1%、30.3%、27.6%、27.1%（注：上述增速四舍五入后精确到小数点后一位）。
            </p>
            <p><br></p>
            <p>
              唯品会2018Q1财报中虽没有公布第一季度活跃用户，但却公布了这样一组数据：“截至2018年3月31日，过去12个月时间里，唯品会的活跃用户人数为5660万人”。
            </p>
            <p><br></p>
            <p>
              活跃用户上升固然是好事，可是细心之人可以发现，对比2016Q2——2017Q4，唯品会的活跃用户数量增速却是持续放缓，从2016Q2到2017Q4依次为：62.0%、43.0%、39.0%、31.1%、22.0%、15.0%、4%。
            </p>
            <p><br></p>
            <p>
              对于一个成熟的产品来说，活跃用户增长呈下降趋势是有可能的，但如何吸引更多用户，也是各大企业面临的一个问题，而此次唯品会上线唯品男士，或也是希望能够有更多新鲜血液注入，但摆在眼前的是，唯品男士能帮助唯品会“止渴”吗？
            </p>
            <p><br></p>
            <p><strong> 上线“唯品男士”，唯品会的信心来自哪里？</strong></p>
            <p><br></p>
            <p>
              时针调至2017年12月18日，一直“绯闻”不断的京东和唯品会“联姻”了，并且还得到了腾讯的支持，根据当时官方公布的信息，腾讯携手京东向唯品会投资8.63亿美元，交易完成后，腾讯和京东将分别持有唯品会7%和5.5%的股份（此前京东曾持有唯品会2.5%股份）。
            </p>
            <p><br></p>
            <p>
              当时速途网曾发表文章《马化腾、刘强东、沈亚的“局中局”》，认为这场资本的游戏，背后是三家获益，无论对谁，都是一个好结局。
            </p>
            <p><br></p>
            <p>
              事实也的确如此，如今看来，腾讯无论是对电商还是新零售，布局已经越发清晰，京东也多次公开提起和唯品会互补，吸引更多女性用户，而唯品会虽然一直低调，却也用数据给出了答案。
            </p>
            <p><br></p>
            <p>
              在唯品会4·19大促期间，微信入口的活跃用户中男性占比25.8%，高于主站男性占比，其中90后人群占比近半；而通过京东入口进入唯品会的客户中，98%都是新客，其中男装品类销售占比较高。
            </p>
            <p><br></p>
            <p>
              此外，在阿拉丁指数公布的小程序4月榜单中唯品会拿到了总榜第五，网络购物类第二的好成绩，仅次于拼多多。
            </p>
            <p><br></p>
            <p>
              目前看来，唯品会在主站推出男士频道后又在微信推出“唯品男士”小程序也很容易解释，毕竟现有的资源不用白不用，况且三方合作都是在吸收对方的优势。
            </p>
            <p><br></p>
            <p>
              上个月，京东在北京召开“时尚合作伙伴大会”，当时唯品会副总裁孙格非在演讲中提到，后续将与京东进行深度合作，共同打造中国时尚产业生态圈。这也意味着，双方的互相扶持，也还会继续，并且力度将会加大。
            </p>
            <p><br></p>
            <p>
              而从时间节点来看，唯品会在5月底上线男士版也是经过多番考虑的。毕竟刚进入6月，京东便打响了618全球年中购物节促销战役，APP流量相比于平常会有所增加。目前从京东APP中进入唯品会页面，最先显示的已然是男性专用品牌。
            </p>
            <p><br></p>
            <p>
              据一位接近唯品会的人士透露称，自三方合作后，唯品会逐渐摆脱“用户偏科”的影子，所以出现了唯品男士，目前唯品男士虽说不是公司头号项目，但也倾注了一些心血。
            </p>
            <p><br></p>
            <p><strong> 自信是好事，但唯品会“革命”之路遍布荆棘</strong></p>
            <p><br></p>
            <p>
              尝到了许多甜头的唯品会推出“唯品男士”，算盘打的是噼啪响，但实施起来恐怕并不容易。
            </p>
            <p><br></p>
            <p>
              一直以来，唯品会打在自己身上的标签都是“女性”、“特卖”等。唯品会官方也在2017年时透露，唯品会3亿会员用户中，女性会员超过80%，服饰穿戴和美妆可以说是唯品会的优势。
            </p>
            <p><br></p>
            <p>
              但在近年来，女性消费者已经成为电商行业追逐的对象。马云将女性归结为阿里成功的秘诀，刘强东则表示要在未来五到十年，倾集团之力重点扶持服饰品类。
            </p>
            <p><br></p>
            <p>
              与之相反的是，唯品会坐拥高占比的女性资源，却选择布局男性消费市场。虽然可以凭借着京东的入口获得部分流量，但更懂女性用户的唯品会，又能否将从京东方面获取的男性用户转化为自己的用户呢？而用户又能否摘掉自己对唯品会的固有印象，愿意为唯品会的新业务买单呢？
            </p>
            <p><br></p>
            <p>
              有业内人士评论称，京东一直在向女性用户发力，但是用户自有的印象很难改变，虽然京东势头很猛，但在服饰乃至整个时尚领域，还是低于阿里一头，这和唯品会高举旗帜进军男性领域意义是一样的，虽说资源能助推，但内部能消化多少，还要时间来决定。
            </p>
            <p><br></p>
            <p><strong> “赶鸭子上架”，唯品会还需自我救赎</strong></p>
            <p><br></p>
            <p>
              腾讯和京东的资源扶持，让唯品会对男性市场有了信心，想要借助腾讯、京东资源来打一场翻身仗是唯品会的目的，但需要承认的是，这条路是唯品会不得不走的，即便前方是刀山火海。
            </p>
            <p><br></p>
            <p>
              正如上文所述，营收增速放缓的背后是唯品会业务遭遇瓶颈，再加上腾讯、京东入股之前，红杉资本、老虎基金等已从主要股东名单中消失，难免让外界失去信心。
            </p>
            <p><br></p>
            <p>
              近两年来，除了主营的电商业务，唯品会也在金融和物流上大做手脚，唯品会首席财务官杨东皓早在2017年就曾表示，未来唯品会将形成电商、金融、物流的“三驾马车”。
            </p>
            <p><br></p>
            <p>
              但金融和物流是一口深井，在2018年Q1财报中，唯品会称金融与物流业务正在持续推进，但未披露具体情况。在物流方面，有分析师指出，唯品会正在大规模推进仓储建设，因为时间的缘故，现阶段利润率将会受到影响，未来在自有物流建设成熟后，公司费用率会有所改善。但对于唯品会来说，自建物流成熟期所需要的时间或许还很长，毕竟京东在物流方面布局多年，才奠定了自己的影响力。市场又是否愿意给唯品会足够的时间呢？我们暂不得知。
            </p>
            <p><br></p>
            <p>
              对于唯品会拆分金融与物流业务，知名电商评论人李成东曾对此做出评论称，“独立发展，独立融资，这样首先不用消耗内部的资金，减少亏损；其次有助于发展业务，只是依赖唯品会，难以做大；其三对参与业务的人也能够更好的激励；其四减少亏损，也是有利于提升整个唯品会的市值。”但唯品会能走到什么地步，谁也不知道。
            </p>
            <p><br></p>
            <p>
              作为互联网第一妖股的唯品会，它也曾风光无限。IPO时，发行价仅为6.5美元的唯品会，在2014年凭借自己的营收，股价一度飞升至229美元每股。
            </p>
            <p><br></p>
            <p>
              而在2017年，唯品会的股价持续下跌。腾讯、京东的入股，让唯品会股价回升到了19.14美元每股。但在财报发布后，唯品会股价再度下跌至12.06美元。而截至发稿前，唯品会股价已回升至12.09美元。
            </p>
            <p><br></p>
            <p>
              唯品会首席财务官杨东皓曾在解读2018 Q1财报时说了这样一句话：“考虑到开放时间，腾讯、京东流量入口的效果在本季度还不明显，二季度将聚焦运营匹配与平台磨合，合作效果预计下半年开始显现。”
            </p>
            <p><br></p>
            <p>
              在唯品会创始人沈亚不发声的年代，唯品会首席财务官杨东皓的一次次财报解读似乎成为了人们了解唯品会布局的“窗口”，杨东皓的期望很大，但前路漫漫，还需努力。
            </p></div>
          <div><a onclick="showShareWxModal('48215212','唯品会的自我革命与救赎')" class="btn-wx"></a> <a
            onclick="shareWb('48215212','唯品会的自我革命与救赎')" class="btn-weibo m-l-sm"></a> <a
            onclick="shareQQ('48215212','唯品会的自我革命与救赎')" class="btn-qq m-l-sm"></a></div>
        </div>
      </section>
    </div>

    <div class="col-lg-3 col-md-12">
      <div class="f-bg">
        <div class="p-3" style="font-size: 18px">热门文章</div>
        <div class="f-bdr mb-3"></div>
        <div>
          <div class="px-3 pb-3"><a href="#">
            <div
              style="background-image:url(http://pic.qixin007.com/article/502128e4-1162-48cb-a768-d80dc811b378%E6%9C%AA%E6%A0%87%E9%A2%98-1.jpg);"
              class="app-hot-item">
              <div class="app-hot-wrapper"></div>
              <div class="app-content-container small">剑南春董事长乔天明疑失联 借改制成为亿万富翁</div>
              <div class="brand" style="background-color:#ffb000">金融</div>
            </div>
          </a></div>
          <div class="px-3 pb-3"><a href="#">
            <div
              style="background-image:url(http://pic.qixin007.com/article/46e221c7-1864-4f69-8f29-0553e3f48142%E6%9C%AA%E6%A0%87%E9%A2%98-11.jpg);"
              class="app-hot-item">
              <div class="app-hot-wrapper"></div>
              <div class="app-content-container small">乳企无视黑名单 考验的是谁的信任</div>
              <div class="brand" style="background-color:#f87b8f">榜单</div>
            </div>
          </a></div>
          <div class="px-3 pb-3"><a href="#">
            <div
              style="background-image:url(http://pic.qixin007.com/article/f436eee3-f358-45ae-a373-1eb683c5c990%E6%9C%AA%E6%A0%87%E9%A2%98-12.jpg);"
              class="app-hot-item">
              <div class="app-hot-wrapper"></div>
              <div class="app-content-container small">监管重压行业风声鹤唳 P2P老总叹“没有安全感”</div>
              <div class="brand" style="background-color:#177cb0">互联网</div>
            </div>
          </a></div>
          <div class="px-3 pb-3"><a href="#">
            <div
              style="background-image:url(http://pic.qixin007.com/article/585c7ad8-acb6-4487-b020-a3804a01875d%E6%9C%AA%E6%A0%87%E9%A2%98-1.jpg);"
              class="app-hot-item">
              <div class="app-hot-wrapper"></div>
              <div class="app-content-container small">格力小米打造"米格手机"？董明珠：从没想过！</div>
              <div class="brand" style="background-color:#c32136">专辑</div>
            </div>
          </a></div>
          <div class="px-3 pb-3"><a href="#">
            <div
              style="background-image:url(http://pic.qixin007.com/article/afd158ec-9dd6-47aa-88f3-4a64badb79f5%E6%9C%AA%E6%A0%87%E9%A2%98-1.jpg);"
              class="app-hot-item">
              <div class="app-hot-wrapper"></div>
              <div class="app-content-container small">新三板公司惊现超高毛利率 宝利明威等秒杀茅台</div>
              <div class="brand" style="background-color:#f87b8f">榜单</div>
            </div>
          </a></div>
        </div>
      </div>
    </div>
  </div>
</div>
