<div id="top" class="container">
  <mat-card>
    <div class="row pl-2">
      <img class="mr-4" style="height: 100px; width: 100px"
           src="https://co-image.qichacha.com/PersonImage/p1910534b4ae98fea35ddbeb1d61cd44.jpg">
      <div>
        <div class="d-flex">
          <div class="mb-2 mb-3"><a style="font-size: 22px; color: black; font-weight: bold">雷军</a></div>
          <div class="d-flex justify-content-between ml-auto">
            <a href="#" class="c_iconDt mr-3 px-2"><span><i class="fa fa-bar-chart mr-1"></i></span>图谱</a>
            <a href="#" class="c_iconDt px-2"><span><i class="fa fa-eye mr-1"></i></span>监控</a>
          </div>
        </div>
        <p class="f-14 mb-2">简介：雷军， 1969年12月出生于湖北仙桃，现任小米科技董事长兼CEO，同时兼任金山、YY、猎豹移动等三家上市公司董事长，是中国大陆著名天使投资人。...<a
          (click)="openModal(expand)"
          class="ml-2" style="color: #128bed">展开</a>
        </p>
        <ng-template #expand let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">雷军的人物介绍</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>雷军， 1969年12月出生于湖北仙桃，现任小米科技董事长兼CEO，同时兼任金山、YY、猎豹移动等三家上市公司董事长，是中国大陆著名天使投资人。
              雷军曾任两届海淀区政协委员，2012年当选北京市人大代表，2013年2月当选全国人民代表大会代表。 雷军作为中国互联网代表人物及全球年度电子商务创新领袖人物
              ，曾获中国经济年度人物及十大财智领袖人物、中国互联网年度人物等多项国内外荣誉，并当选《福布斯》（亚洲版）2014年度商业人物。
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </mat-card>
  <div class="mt-3 row">
    <div class="col-lg-9">
      <mat-card class="pt-0">
        <div class="mb-2">
          <div class="d-flex flex-wrap px-2 py-2">
            <a pageScroll class="my-2 anchor" href="#boss">担任法定代表人</a>
            <a pageScroll class="my-2 anchor" href="#gd">担任股东</a>
            <a pageScroll class="my-2 anchor" href="#manager">担任高管</a>
          </div>
          <mat-divider></mat-divider>
          <!--担任法人的企业-->
          <p id="boss" class="title">担任法人的企业</p>
          <table class="table mw-100">
            <tbody>
            <tr class="color-primary border">
              <td width="60">序号</td>
              <td width="370">企业名称</td>
              <td width="90">持股比例</td>
              <td width="160">注册资本</td>
              <td width="115">地区</td>
              <td width="110">行业</td>
              <td width="110">经营状态</td>
            </tr>
            <tr class="table-bordered">
              <td>1</td>
              <td><a href="#" data-event-name="担任法人-点击公司">小米科技有限责任公司</a>
              </td>
              <td>77.8%</td>
              <td>185000 万人民币</td>
              <td>北京</td>
              <td>零售业</td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>2</td>
              <td><a href="#" data-event-name="担任法人-点击公司">广东小米科技有限责任公司</a>
              </td>
              <td>-</td>
              <td>100000 万人民币</td>
              <td>广东广州</td>
              <td>软件和信息技术服务业</td>
              <td class="">在营（开业）企业</td>
            </tr>
            <tr class="table-bordered">
              <td>3</td>
              <td><a href="/company/8ee84f74-d12e-41fd-aeee-21cc20958786" data-event-name="担任法人-点击公司">四川银米科技有限责任公司</a>
              </td>
              <td>-</td>
              <td>200000 万人民币</td>
              <td>四川成都</td>
              <td>软件和信息技术服务业</td>
              <td class="">存续（在营、开业、在册）</td>
            </tr>
            <tr class="table-bordered">
              <td>4</td>
              <td><a href="/company/cf26b580-643b-4f0b-9bda-64db8534c0e3" data-event-name="担任法人-点击公司">北京顺为创业投资有限公司</a>
              </td>
              <td>51.00%</td>
              <td>3000 万人民币</td>
              <td>北京</td>
              <td>资本市场服务</td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>5</td>
              <td><a href="/company/41c209fc-25e9-4605-b777-6a5854a87b1a" data-event-name="担任法人-点击公司">北京顺为资本投资咨询有限公司</a>
              </td>
              <td>-</td>
              <td>50 万美元</td>
              <td>北京</td>
              <td>商务服务业</td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>6</td>
              <td><a href="/company/6817f366-b63b-48d5-9b13-3366abcc52c2" data-event-name="担任法人-点击公司">西藏小米科技有限责任公司</a>
              </td>
              <td>-</td>
              <td>100 万人民币</td>
              <td>西藏西藏</td>
              <td>批发业</td>
              <td class="identify">注销</td>
            </tr>
            <tr class="table-bordered">
              <td>7</td>
              <td><a href="/company/c4931a31-ffc8-413c-b7fd-ce190806246f" data-event-name="担任法人-点击公司">捷付睿通股份有限公司</a>
              </td>
              <td>-</td>
              <td>10000 万人民币</td>
              <td>内蒙古呼和浩特</td>
              <td>软件和信息技术服务业</td>
              <td class="">存续（在营、开业、在册）</td>
            </tr>
            <tr class="table-bordered">
              <td>8</td>
              <td><a href="/company/0ecaa471-dbca-4f31-8ea3-cd678bf6ef73" data-event-name="担任法人-点击公司">小米科技（武汉）有限公司</a>
              </td>
              <td>-</td>
              <td>21000 万人民币</td>
              <td>湖北武汉</td>
              <td>软件和信息技术服务业</td>
              <td class="">存续（在营、开业、在册）</td>
            </tr>
            <tr class="table-bordered">
              <td>9</td>
              <td><a href="/company/d8fdb765-bde9-4a11-8ffb-89801c78c0d4" data-event-name="担任法人-点击公司">拉萨经济技术开发区顺为资本投资咨询有限公司</a>
              </td>
              <td>75.00%</td>
              <td>10000 万人民币</td>
              <td>西藏拉萨</td>
              <td>商务服务业</td>
              <td class="">存续（在营、开业、在册）</td>
            </tr>
            <tr class="table-bordered">
              <td>10</td>
              <td><a href="#" data-event-name="担任法人-点击公司">珠海淇澳游艇会有限公司</a>
              </td>
              <td>-</td>
              <td>20000 万人民币</td>
              <td>广东珠海</td>
              <td>批发业</td>
              <td class="">在营（开业）企业</td>
            </tr>
            <!--<tr *ngFor="let index of [1,2,3,4]" class="table-bordered">
              <td class="text-center">{{index}}</td>
              <td><a class="cliable">深市质南市监罚字[2017]639号</a></td>
              <td class="text-center">广告违法行为</td>
              <td class="text-center">罚款10000</td>
              <td class="text-center">2017-09-08</td>
              <td class="text-center">粤海所</td>
              <td class="text-center">2017-11-07</td>
            </tr>-->
            </tbody>
          </table>

          <!--担任股东的企业-->
          <p id="gd" class="title">担任股东的企业</p>
          <table class="table mw-100">
            <tbody>
            <tr class="color-primary border">
              <td width="60">序号</td>
              <td width="260">企业名称</td>
              <td width="90">持股比例</td>
              <td width="160">注册资本</td>
              <td width="115">地区</td>
              <td width="115">行业</td>
              <td width="115">法定代表人</td>
              <td width="115">经营状态</td>
            </tr>
            <tr class="table-bordered">
              <td>1</td>
              <td><a href="#" data-event-name="对外投资-点击公司">小米科技有限责任公司</a>
              </td>
              <td>77.8%</td>
              <td>185000 万人民币</td>
              <td>北京</td>
              <td>零售业</td>
              <td><a href="#" data-event-name="对外投资-点击人名">雷军</a></td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>2</td>
              <td><a href="#" data-event-name="对外投资-点击公司">拉卡拉支付股份有限公司</a>
              </td>
              <td>-</td>
              <td>36000 万人民币</td>
              <td>北京</td>
              <td>其他金融业</td>
              <td><a href="#" data-event-name="对外投资-点击人名">孙陶然</a></td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>3</td>
              <td><a href="#" data-event-name="对外投资-点击公司">广州华多网络科技有限公司</a>
              </td>
              <td>0.44%</td>
              <td>10000 万人民币</td>
              <td>广东广州</td>
              <td>软件和信息技术服务业</td>
              <td><a href="#" data-event-name="对外投资-点击人名">李婷</a></td>
              <td class="">在营（开业）企业</td>
            </tr>
            <tr class="table-bordered">
              <td>4</td>
              <td><a href="#" data-event-name="对外投资-点击公司">江苏紫米电子技术有限公司</a>
              </td>
              <td>15.00%</td>
              <td>705.88 万人民币</td>
              <td>江苏无锡</td>
              <td>批发业</td>
              <td><a href="/name-detail/57e9df35f5942be1f24b7b699cb216ec" data-event-name="对外投资-点击人名">张峰</a></td>
              <td class="">存续（在营、开业、在册）</td>
            </tr>
            <tr class="table-bordered">
              <td>5</td>
              <td><a href="/company/da10b2b8-c81f-4ae2-9c04-ee9d3288f61d" data-event-name="对外投资-点击公司">北京口袋时尚科技有限公司</a>
              </td>
              <td>1.00%</td>
              <td>1000 万人民币</td>
              <td>北京</td>
              <td>软件和信息技术服务业</td>
              <td><a href="/name-detail/08c072b4e25c4889189e4f49c2d2a135" data-event-name="对外投资-点击人名">王珂</a></td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>6</td>
              <td><a href="/company/07140965-918b-4569-a943-008e201a6215" data-event-name="对外投资-点击公司">和创（北京）科技股份有限公司</a>
              </td>
              <td>-</td>
              <td>11295.5805 万人民币</td>
              <td>北京</td>
              <td>计算机、通信和其他电子设备制造业</td>
              <td><a href="/name-detail/003f9297547a98bb49f0de07c2dfb5fc" data-event-name="对外投资-点击人名">刘学臣</a></td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>7</td>
              <td><a href="/company/cf26b580-643b-4f0b-9bda-64db8534c0e3" data-event-name="对外投资-点击公司">北京顺为创业投资有限公司</a>
              </td>
              <td>51.00%</td>
              <td>3000 万人民币</td>
              <td>北京</td>
              <td>资本市场服务</td>
              <td><a href="/name-detail/02ad6587897a976a793aa72ead924a47" data-event-name="对外投资-点击人名">雷军</a></td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>8</td>
              <td><a href="/company/0968151b-de61-4d8b-9857-2312fb7b1d18" data-event-name="对外投资-点击公司">北京雷石天地电子技术有限公司</a>
              </td>
              <td>-</td>
              <td>3166.161 万人民币</td>
              <td>北京</td>
              <td>软件和信息技术服务业</td>
              <td><a href="/name-detail/048ecaceb74c589dfe0ff1fe85dc3a6b" data-event-name="对外投资-点击人名">马杰</a></td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>9</td>
              <td><a href="/company/e680809c-7bd5-444a-acc6-e796d17235d2" data-event-name="对外投资-点击公司">互动峰科技（北京）有限公司</a>
              </td>
              <td>0.97%</td>
              <td>1000 万人民币</td>
              <td>北京</td>
              <td>软件和信息技术服务业</td>
              <td><a href="/name-detail/025d6d68718913c19ac337d90ebafb2b" data-event-name="对外投资-点击人名">刘永</a></td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>10</td>
              <td><a href="/company/7ad6d7ff-6c1b-46a7-b748-f670efc171e2"
                     data-event-name="对外投资-点击公司">北京亚杰天使投资中心（有限合伙）</a></td>
              <td>7.14%</td>
              <td>-</td>
              <td>北京</td>
              <td>商务服务业</td>
              <td>亚杰天使投资管理（北京）有限公司</td>
              <td class="">开业</td>
            </tr>
            </tbody>
          </table>

          <!--担任高管的企业-->
          <p id="manager" class="title">担任高管的企业</p>
          <table class="table mw-100">
            <tbody>
            <tr class="color-primary border">
              <td width="8%">序号</td>
              <td width="12%">企业名称</td>
              <td>职位</td>
              <td>注册资本</td>
              <td>地区</td>
              <td>行业</td>
              <td width="15%">法定代表人</td>
              <td>经营状态</td>
            </tr>
            <tr class="table-bordered">
              <td>1</td>
              <td><a href="#" data-event-name="在外任职-点击公司">小米科技有限责任公司</a>
              </td>
              <td>法定代表人、股东、经理、董事长</td>
              <td>185000 万人民币</td>
              <td>北京</td>
              <td>零售业</td>
              <td><a href="/name-detail/02ad6587897a976a793aa72ead924a47" data-event-name="在外任职-点击人名">雷军</a></td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>2</td>
              <td><a href="/company/d5365cd9-42ec-4f56-a5e7-c94cfc51dae4" data-event-name="在外任职-点击公司">广东小米科技有限责任公司</a>
              </td>
              <td>法定代表人、高管</td>
              <td>100000 万人民币</td>
              <td>广东广州</td>
              <td>软件和信息技术服务业</td>
              <td><a href="/name-detail/02ad6587897a976a793aa72ead924a47" data-event-name="在外任职-点击人名">雷军</a></td>
              <td class="">在营（开业）企业</td>
            </tr>
            <tr class="table-bordered">
              <td>3</td>
              <td><a href="/company/6b7855c9-a2f8-47b7-ad6b-b82a5ef37cbf" data-event-name="在外任职-点击公司">广州华多网络科技有限公司</a>
              </td>
              <td>股东、高管</td>
              <td>10000 万人民币</td>
              <td>广东广州</td>
              <td>软件和信息技术服务业</td>
              <td><a href="/name-detail/17738737520d801b7c00a55c9934d604" data-event-name="在外任职-点击人名">李婷</a></td>
              <td class="">在营（开业）企业</td>
            </tr>
            <tr class="table-bordered">
              <td>4</td>
              <td><a href="/company/de7f2292-4482-4790-92b3-b1564c636bd5" data-event-name="在外任职-点击公司">小米通讯技术有限公司</a>
              </td>
              <td>董事长</td>
              <td>13000 万美元</td>
              <td>北京</td>
              <td>软件和信息技术服务业</td>
              <td><a href="/name-detail/007e105cd80818842acd7a512f26a7fe" data-event-name="在外任职-点击人名">黎万强</a></td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>5</td>
              <td><a href="/company/8ee84f74-d12e-41fd-aeee-21cc20958786" data-event-name="在外任职-点击公司">四川银米科技有限责任公司</a>
              </td>
              <td>法定代表人、董事长</td>
              <td>200000 万人民币</td>
              <td>四川成都</td>
              <td>软件和信息技术服务业</td>
              <td><a href="/name-detail/02ad6587897a976a793aa72ead924a47" data-event-name="在外任职-点击人名">雷军</a></td>
              <td class="">存续（在营、开业、在册）</td>
            </tr>
            <tr class="table-bordered">
              <td>6</td>
              <td><a href="/company/54a944d3-03bb-49b8-9ad0-09231c9b6d6d" data-event-name="在外任职-点击公司">四川新网银行股份有限公司</a>
              </td>
              <td>董事</td>
              <td>300000 万人民币</td>
              <td>四川成都</td>
              <td>货币金融服务</td>
              <td><a href="/name-detail/04742eeb8fd6352bccae0a754b38e39d" data-event-name="在外任职-点击人名">王航</a></td>
              <td class="">存续（在营、开业、在册）</td>
            </tr>
            <tr class="table-bordered">
              <td>7</td>
              <td><a href="/company/da10b2b8-c81f-4ae2-9c04-ee9d3288f61d" data-event-name="在外任职-点击公司">北京口袋时尚科技有限公司</a>
              </td>
              <td>股东、董事</td>
              <td>1000 万人民币</td>
              <td>北京</td>
              <td>软件和信息技术服务业</td>
              <td><a href="/name-detail/08c072b4e25c4889189e4f49c2d2a135" data-event-name="在外任职-点击人名">王珂</a></td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>8</td>
              <td><a href="/company/cf26b580-643b-4f0b-9bda-64db8534c0e3" data-event-name="在外任职-点击公司">北京顺为创业投资有限公司</a>
              </td>
              <td>法定代表人、股东、经理、执行董事</td>
              <td>3000 万人民币</td>
              <td>北京</td>
              <td>资本市场服务</td>
              <td><a href="/name-detail/02ad6587897a976a793aa72ead924a47" data-event-name="在外任职-点击人名">雷军</a></td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>9</td>
              <td><a href="/company/527baee4-8d0c-4b6a-8eb4-582ae1fc4718" data-event-name="在外任职-点击公司">北京小米支付技术有限公司</a>
              </td>
              <td>董事长</td>
              <td>231363 万人民币</td>
              <td>北京</td>
              <td>软件和信息技术服务业</td>
              <td><a href="/name-detail/084537cd7b157f551256bd0039fcab0f" data-event-name="在外任职-点击人名">洪锋</a></td>
              <td class="">开业</td>
            </tr>
            <tr class="table-bordered">
              <td>10</td>
              <td><a href="/company/fbe15da5-dd56-457b-9fe7-59788197dea3" data-event-name="在外任职-点击公司">重庆市小米小额贷款有限公司</a>
              </td>
              <td>董事长</td>
              <td>45000 万美元</td>
              <td>重庆</td>
              <td>货币金融服务</td>
              <td><a href="/name-detail/084537cd7b157f551256bd0039fcab0f" data-event-name="在外任职-点击人名">洪锋</a></td>
              <td class="">存续(在营、开业、在册)</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-12">
      <div class="f-bg">
        <div class="p-3" style="font-size: 18px">合作伙伴</div>
        <div>
          <a href="#" class="list-group-item d-flex">
            <div class="avatar m-r">
              <img src="http://qxb-img.oss-cn-hangzhou.aliyuncs.com/wm_head_icon/11201954e9928c752e8c7ac169ee9792.jpg"
                   width="54" alt="...">
            </div>
            <div class="mr-auto pl-2 pt-1 big_boss">
              <div><a class="title" href="#">刘德</a></div>
              <div class="text-gray f-12 pt-2">小米科技有限责任公司</div>
            </div>
          </a>
          <a href="#" class="list-group-item d-flex">
            <div class="avatar m-r">
              <img src="http://qxb-img.oss-cn-hangzhou.aliyuncs.com/wm_head_icon/01acc62adffc1791c67b6afeb52648f4.jpg"
                   width="54" alt="...">
            </div>
            <div class="mr-auto pl-2 pt-1 big_boss d-flex flex-column">
              <div><a class="title align-self-center" href="#">邹涛</a></div>
              <div class="text-gray f-12 pt-2">北京金山安全软件有限公司</div>
            </div>
          </a>
          <a href="#" class="list-group-item d-flex">
            <div class="avatar m-r">
              <img src="http://qxb-img.oss-cn-hangzhou.aliyuncs.com/wm_head_icon/084537cd7b157f551256bd0039fcab0f.jpg"
                   width="54" alt="...">
            </div>
            <div class="mr-auto pl-2 pt-1 big_boss d-flex flex-column">
              <div><a class="title align-self-center" href="#">洪锋</a></div>
              <div class="text-gray f-12 pt-2">小米科技有限责任公司</div>
            </div>
          </a>
          <a href="#" class="list-group-item d-flex">
            <div class="avatar m-r">
              <img src="http://qxb-img.oss-cn-hangzhou.aliyuncs.com/wm_head_icon/007e105cd80818842acd7a512f26a7fe.jpg"
                   width="54" alt="...">
            </div>
            <div class="mr-auto pl-2 pt-1 big_boss">
              <div><a class="title" href="#">黎万强</a></div>
              <div class="text-gray f-12 pt-2">小米科技有限责任公司</div>
            </div>
          </a>
          <a href="#" class="list-group-item d-flex">
            <div class="avatar m-r">
              <img src="http://qxb-img.oss-cn-hangzhou.aliyuncs.com/wm_head_icon/208a521520fd675557e4a8920bea3557.jpg"
                   width="54" alt="...">
            </div>
            <div class="mr-auto pl-2 pt-1 big_boss">
              <div><a class="title" href="#">林斌</a></div>
              <div class="text-gray f-12 pt-2">小米科技有限责任公司</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
