.f-bg {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px #bbb;
  -moz-box-shadow: 0 1px 2px #bbb;
  box-shadow: 0 1px 2px #bbb;
}

li{
  list-style: none;
}


.f-bdr {
  border-top: 1px solid #dfdfdf;
}

em {
  font-style: normal;
  font-size: 14px;
}

p {
  font-size: 12px;
  color: #999;
  line-height: 18px;
}
