<mat-card class="pt-0">
  <mat-tab-group>
    <mat-tab label="公司">
      <div class="mt-1 d-flex">
        <button mat-button disabled>查找范围</button>
        <div>
          <button mat-button>企业名</button>
          <button mat-button>法人或股东</button>
          <button mat-button>高管</button>
          <button mat-button>品牌/产品</button>
          <button mat-button>联系方式</button>
          <button mat-button>经营范围</button>
        </div>
      </div>

      <div class="mt-1 d-flex">
        <button mat-button disabled>机构类型</button>
        <div>
          <button mat-button>企业</button>
          <button mat-button>社会组织</button>
          <button mat-button>香港公司</button>
          <button mat-button>台湾公司</button>
        </div>
      </div>

      <div class="mt-1 d-flex">
        <button mat-button disabled>企业状态</button>
        <div style="max-width: 80%">
          <button mat-button>暂无(15)</button>
          <button mat-button>正常(671)</button>
          <button mat-button>核准设立(1)</button>
          <button mat-button>存续(2915)</button>
          <button mat-button>迁入(2)</button>
          <button mat-button>迁出(3)</button>
          <button mat-button>吊销(398)</button>
          <button mat-button>撤销(2)</button>
          <button mat-button>仍注册(1)</button>
          <button mat-button>已告解散(1)</button>
          <button mat-button>注销(878)</button>
        </div>
      </div>

      <div class="mt-1 d-flex">
        <button mat-button disabled>注册资本</button>
        <div>
          <button mat-button>500万以下</button>
          <button mat-button>500~1000万</button>
          <button mat-button>1000~5000万</button>
          <button mat-button>5000万以上</button>
        </div>
      </div>

      <div class="mt-1 d-flex">
        <button mat-button disabled>成立日期</button>
        <div>
          <button mat-button>2018 (207)</button>
          <button mat-button>2017 (765)</button>
          <button mat-button>2016 (506)</button>
          <button mat-button>2015 (454)</button>
          <button mat-button>2014 (424)</button>
        </div>
      </div>

      <div class="mt-1 d-flex">
        <button mat-button disabled>省份地区</button>
        <div>
          <button mat-button>安徽 (102)</button>
          <button mat-button>北京 (162)</button>
          <button mat-button>重庆 (82)</button>
          <button mat-button>福建 (40)</button>
        </div>
      </div>

      <div class="mt-1 d-flex">
        <button mat-button disabled>行业门类</button>
        <div>
          <button mat-button>农、林、牧、渔业 (328)</button>
          <button mat-button>采矿业 (11)</button>
          <button mat-button>制造业 (325)</button>
          <button mat-button>电力、热力、燃气及水生产和供应业 (22)</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="风险信息">
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="知识产权">
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group>
</mat-card>
