
button {
  font-size: 14px !important;
  width: auto !important;
  min-width: auto;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 3px;
  margin-right: 3px;
}

.btn-head {
  color: #9a9a9a !important;
}

.cate_active {
  background-color: #128bed;
  color: #ffffff;
}

:host /deep/ .mat-tab-label {
  color: #000000 !important;
  font-weight: bold;
  font-size: 16px;
}

.com_head {
  border-bottom: 1px solid #ddd;
  background-color: #fcfcfd;
  a {
    color: #666;

  }
  a:hover {
    color: #128cec;
  }
}

.com_active {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background: #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: -2px;
  color: #128cec !important;
  font-weight: 700;
}

.clear_left_border {
  border-left: none !important;
}
