
button {
  font-size: 14px !important;
  width: auto !important;
  min-width: auto;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 3px;
  margin-right: 3px;
}

.btn-head{
  color: #EC6C47 !important;
}


:host /deep/ .mat-tab-label{
  color: #000000 !important;
  font-weight: bold;
  font-size: 16px;
}
