<mat-card class="p-3 card">
  <div class="d-flex justify-content-lg-between">
    <span class="company-info">公司信息</span>
    <span><i class="fa fa-times close"></i></span>
  </div>
  <div class="mt-3 d-flex">
    <a class="company-name">深圳市灵魂世纪贸易有限公司</a>
    <span class="company-status ml-2">存续</span>
  </div>
  <div class="mt-3">
    <span class="line">法定代表人： <a href="#">苏友平</a></span>
  </div>
  <div class="mt-1">
    <span class="line">注册资本： 100万人民币元</span>
  </div>
  <div class="mt-1">
    <span class="line">成立日期： 2011-06-27</span>
  </div>
  <button class="btn btn-primary mt-3 rounded-2 w-100">查看图谱</button>

  <div class="mt-2">
    <div class="d-flex com_head border-top border-left border-right">
      <a class="com_active text-center f-14 py-2 clear_left_border flex-grow-1"
         [ngClass]="{'com_active': k==0, 'clear_left_border': k==0}" (click)="k=0">公司</a>
      <a class="com_active text-center f-14 py-2 flex-grow-1" [class.com_active]="k==1" (click)="k=1">风险信息</a>
      <a class="com_active text-center f-14 py-2 flex-grow-1"
         [ngClass]="{'com_active': k==2, 'clear_right_border': k==2}" (click)="k=2">知识产权</a>
    </div>
    <div class="mt-1">
      <table class="table-bordered table">
        <tbody>
        <tr class="header">
          <td width="40%">名称</td>
          <td width="60%">类型</td>
        </tr>
        <tr>
          <td>苏友平</td>
          <td class="kind">自然人股东</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</mat-card>


