<div class="d-flex">
  <li class="mr-2"><a routerLink="/dashboard">首页</a></li>
  /
  <li class="mx-2"><a routerLink="/brands">商标查询</a></li>
  /
  <li class="mx-2">小米商标查询列表</li>
</div>
<mat-card class="card rounded-0 py-0 mt-3" style="box-shadow: none">
  <div class="py-3">
    <span class="f-15 text-dark">企信通为您找到<span class="text-danger">46 </span> 位符合条件的人员</span>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <img class="align-self-center mr-4" style="width: 120px; height: 80px"
           src="http://tm-image.qichacha.com/996946463c90834cd8e31521d12b7ba6.jpg?x-oss-process=style/small">
      <div class="py-3">
        <p class="mb-2 d-flex">
          <a routerLink="/brand-search/trademark" class="mr-1"
             style="font-size: 18px; color: #e33244; font-weight: bold">小米</a>
          <span class="nstatus">商标注册申请-等待驳回复审-结束</span>
        </p>
        <p class="f-14 mb-2">注册号： <span style="color: #1e99bc">22129207</span><span
          class="ml-3">申请日期：2016-12-02</span></p>
        <p class="f-14 mb-2">类别：第35类广告销售</p>
        <p class="f-14 mb-2">申请人：<a style="color: #007AFC">小米科技有限责任公司</a></p>
        <!--<p class="f-14 mb-2"><i class="fa fa-search"></i>法定代表人：<em style="color: #dc3545; font-style: normal">{{c.represent}}</em></p>-->
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <img class="align-self-center mr-4" style="width: 120px; height: 80px"
           src="http://tm-image.qichacha.com/121279eca49a8340d1776aaef68ab281.jpg?x-oss-process=style/small">
      <div class="py-3">
        <p class="mb-2 d-flex">
          <a class="mr-1" style="font-size: 18px; color: #e33244; font-weight: bold">小米</a>
          <span class="nstatus">商标已注册</span></p>
        <p class="f-14 mb-2">注册号： <span style="color: #1e99bc">10394436</span><span
          class="ml-3">申请日期：2012-01-05</span></p>
        <p class="f-14 mb-2">类别: 第7类机械设备</p>
        <p class="f-14 mb-2">申请人：<a style="color: #007AFC">余姚小米电器有限公司</a></p>
        <!--<p class="f-14 mb-2"><i class="fa fa-search"></i>法定代表人：<em style="color: #dc3545; font-style: normal">{{c.represent}}</em></p>-->
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <img class="align-self-center mr-4" style="width: 120px; height: 80px"
           src="http://tm-image.qichacha.com/7ad37d114c432feb6fd1296f4b211076.jpg?x-oss-process=style/small">
      <div class="py-3">
        <p class="mb-2 d-flex">
          <a class="mr-1" style="font-size: 18px; color: #e33244; font-weight: bold">小米</a>
          <span class="nstatus">变更商标申请人/注册人名义/地址完成</span>
        </p>
        <p class="f-14 mb-2">注册号： <span style="color: #1e99bc">10979495</span><span
          class="ml-3">申请日期：2012-05-28</span></p>
        <p class="f-14 mb-2">类别: 第3类日化用品</p>
        <p class="f-14 mb-2">申请人：<a style="color: #007AFC">小米科技有限责任公司</a></p>
        <!--<p class="f-14 mb-2"><i class="fa fa-search"></i>法定代表人：<em style="color: #dc3545; font-style: normal">{{c.represent}}</em></p>-->
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <img class="align-self-center mr-4" style="width: 120px; height: 80px"
           src="../../../assets/img/brand-default.png">
      <div class="py-3">
        <p class="mb-2 d-flex">
          <a class="mr-1" style="font-size: 18px; color: #e33244; font-weight: bold">小米</a>
        </p>
        <p class="f-14 mb-2">注册号： <span style="color: #1e99bc">24461109</span><span
          class="ml-3">申请日期：2017-06-02</span></p>
        <p class="f-14 mb-2">类别: 第12类运输工具 </p>
        <p class="f-14 mb-2">申请人：<a style="color: #007AFC">小米科技有限责任公司</a></p>
        <!--<p class="f-14 mb-2"><i class="fa fa-search"></i>法定代表人：<em style="color: #dc3545; font-style: normal">{{c.represent}}</em></p>-->
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <img class="align-self-center mr-4" style="width: 120px; height: 80px"
           src="http://tm-image.qichacha.com/fe794231f3ba52dae1451426f8628c8e.jpg?x-oss-process=style/small">
      <div class="py-3">
        <p class="mb-2 d-flex">
          <a class="mr-1" style="font-size: 18px; color: #e33244; font-weight: bold">小米</a>
          <span class="nstatus">无效宣告中</span>
        </p>
        <p class="f-14 mb-2">注册号： <span style="color: #1e99bc">10674562</span><span
          class="ml-3">申请日期：2012-03-26</span></p>
        <p class="f-14 mb-2">类别: 第32类啤酒饮料</p>
        <p class="f-14 mb-2">申请人：<a style="color: #007AFC">小米科技有限责任公司</a></p>
        <!--<p class="f-14 mb-2"><i class="fa fa-search"></i>法定代表人：<em style="color: #dc3545; font-style: normal">{{c.represent}}</em></p>-->
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <img class="align-self-center mr-4" style="width: 120px; height: 80px"
           src="http://tm-image.qichacha.com/af07edb39e1033b86b917be63d441db7.jpg?x-oss-process=style/small">
      <div class="py-3">
        <p class="mb-2 d-flex">
          <a class="mr-1" style="font-size: 18px; color: #e33244; font-weight: bold">小米</a>
          <span class="nstatus">变更商标申请人/注册人名义/地址完成</span>
        </p>
        <p class="f-14 mb-2">注册号： <span style="color: #1e99bc">10674571</span><span
          class="ml-3">申请日期：2012-03-26</span></p>
        <p class="f-14 mb-2">类别: 第21类厨房洁具</p>
        <p class="f-14 mb-2">申请人：<a style="color: #007AFC">小米科技有限责任公司</a></p>
        <!--<p class="f-14 mb-2"><i class="fa fa-search"></i>法定代表人：<em style="color: #dc3545; font-style: normal">{{c.represent}}</em></p>-->
      </div>
    </div>
  </div>
</mat-card>
<ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="80" [maxSize]="8"
                [(page)]="page"></ngb-pagination>


