::ng-deep .tree {
  width: 100%;
  height: 100%;
}

::ng-deep .node {
  cursor: pointer;
}

::ng-deep .node circle {
  fill: #888;
}

::ng-deep .node text {
  fill: #666;
  font-size: 14px;
}

::ng-deep .node path {
  fill: #fff;
  stroke: #fff;
  stroke-width: 0.2px;
}

::ng-deep .node0 circle {
  fill: #aaceff;
  stroke-opacity: 0.5;
  stroke: #aaceff;
  stroke-width: 8px;
}

::ng-deep .node1 circle {
  fill: #fd9bb4;
  stroke: #fd9bb4;
  stroke-width: 6px;
}

::ng-deep .node2 circle {
  fill: #af9ffc;
  stroke: #af9ffc;
  stroke-width: 6px;
}

::ng-deep .node3 circle {
  fill: #9be4b7;
}

/*.node.node-child circle {
    stroke-opacity: 0.5;
    transform: scale(1.2);
}*/
::ng-deep .node:hover text {
  fill: #333;
  font-weight: bold;
  font-size: 14px;
}

::ng-deep .node:hover circle {
  transform: scale(1.2);
}

::ng-deep .node:not(.node3) text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

::ng-deep .node0 text {
  font-size: 16px !important;
}

::ng-deep .link {
  fill: none;
  stroke: #c6c6c6;
  stroke-opacity: 0.4;
  stroke-width: 1px;
}
