.btn-head {
  color: #EC6C47 !important;
}

.col_work {
  //color: #009944;
  color: #1e99bc;
}

.nsatus {
  font-weight: normal;
  display: inline-block;
  line-height: 16px;
  font-size: 14px;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  border: 1px solid;
}

.page-title {
  margin-bottom: 20px;
  font-size: 18px;
  color: #000;
  font-weight: 700;
}

.pills {
  width: 100%;
  padding-left: 71px;
  margin-bottom: 20px;
}

.pills-header {
  padding: 0 0;
  min-width: 78px;
  margin: 3px 0 0 -78px;
  color: #9a9a9a;
  font-size: 13px;
}

.pills .searchkey {
  margin-top: -3px;
  width: 386px;
  padding: 0.25rem;
}

.pills-after {
  float: left;
}

.pills-item {
  float: left;
  padding: 0 10px;
  margin: 3px 3px;
  color: #222;
  display: block;
}

.active {
  background: #128bed;
  color: #fff !important;
}

.pills-more {
  float: right;
  padding: 0 6px;
  margin: 3px 3px;
  display: block;
  margin-right: -70px;
  color: #979797;
}

