<div id="top" class="container">
  <mat-card style="box-shadow: none" class="card rounded-0" *ngIf="company">
    <div class="row pl-2">
      <img class="mr-4" style="height: 100px; width: 100px"
           src="{{company.img}}">
      <div>
        <p class="mb-2 mb-3">
          <a style="font-size: 22px; color: black; font-weight: bold">{{company.name}}<span class="ml-3 nsatus col_name">曾用名</span>
          <span class="ml-2 nsatus col_work">在业</span>
        </a></p>
        <p class="f-14 mb-2">电话： {{company.phone}} <a href="#" class="ml-2">更多号码</a></p>
        <p class="f-14 mb-2">邮箱： {{company.mail}} <span class="ml-2">官网： {{company.website}}</span></p>
        <p class="f-14 mb-2">地址： {{company.addr}} <a href="#" class="ml-2">附近公司</a></p>
        <p class="f-14 mb-2">简介： {{reformNoticeContent(company.introduction.slice(0, 50)) + '...'}} <a href="#" class="ml-2">查看详情</a></p>
      </div>

      <div class="d-flex flex-column ml-auto">
        <div class="d-flex justify-content-between">
          <button class="btn mx-1">笔记</button>
          <button class="btn mx-1">对比</button>
          <button class="btn mx-1">关注</button>
          <button class="btn mx-1">监控</button>
        </div>
        <p class="text-right my-3">更新时间： 4时9分钟前 更新数据</p>
        <p class="text-right mt-auto mb-0">关注 4968 浏览 16402629</p>
      </div>
    </div>
  </mat-card>

  <div class="mt-3 row">
    <div class="col-lg-9">
      <mat-card style="box-shadow: none" class="card rounded-0 pt-0">
        <div style="margin: 0 -24px" class="d-flex flex-nowrap justify-content-between">
          <a [ngClass]="{'active': selector===0, 'remove-left-border': selector===0}" (click)="changePage(0)"
             routerLink="/company/basicinfo" class="selector f-16 active remove-left-border">基本信息</a>
          <a [class.active]="selector===1" (click)="changePage(1)" routerLink='/company/legalproceed'
             class="selector f-16">法律诉讼</a>
          <a [class.active]="selector===2" (click)="changePage(2)" routerLink="/company/operatingcondition"
             class="selector f-16">经营状况</a>
          <a [class.active]="selector===3" (click)="changePage(3)" routerLink="/company/businessrisk"
             class="selector f-16">经营风险</a>
          <a [class.active]="selector===4" (click)="changePage(4)" routerLink="/company/businessreport"
             class="selector f-16">企业年报</a>
          <a [class.active]="selector===5" (click)="changePage(5)" routerLink="/company/intellectual"
             class="selector f-16">知识产权</a>
          <a [ngClass]="{'active': selector===6, 'remove-right-border': selector===6}" (click)="changePage(6)"
             routerLink="/company/historyinfo" class="selector f-16 remove-right-border">历史信息</a>
        </div>
        <mat-divider></mat-divider>
        <router-outlet></router-outlet>
      </mat-card>
    </div>

    <div class="col-lg-3 pl-lg-0">

      <mat-card style="box-shadow: none" class="card rounded-0 py-2-5 py-2-5">
        <p class="f-16 mb-2-5">下载报告</p>
        <mat-divider></mat-divider>
        <div class="d-flex flex-column align-items-center pt-3">
          <img class="ml-4" src="https://www.qichacha.com/material/theme/chacha/cms/v2/images/report.png">
          <button class="btn btn-primary mt-3 f-12">下载报告</button>
        </div>
      </mat-card>

      <mat-card style="box-shadow: none" class="card rounded-0 mt-3 py-2-5">
        <p class="f-16 mb-2-5">企业图谱</p>
        <mat-divider></mat-divider>
        <div class="d-flex flex-column align-items-center pt-4">
          <img src="https://www.qichacha.com/material/theme/chacha/cms/v2/images/qytu.jpg">
          <button class="btn btn-primary mt-3 f-12">查看企业图谱</button>
        </div>
      </mat-card>

      <mat-card style="box-shadow: none" class="card rounded-0 mt-3 py-2-5">
        <p class="f-16 mb-2-5">投资图谱</p>
        <mat-divider></mat-divider>
        <div class="d-flex flex-column align-items-center pt-4">
          <img src="https://www.qichacha.com/material/theme/chacha/cms/v2/images/tupu.png">
          <button class="btn btn-primary mt-3 f-12">查看投资图谱</button>
        </div>
      </mat-card>

      <mat-card style="box-shadow: none" class="card rounded-0 mt-3 py-2-5">
        <p class="f-16 mb-2-5">关联图谱</p>
        <mat-divider></mat-divider>
        <div class="d-flex flex-column align-items-center pt-4">
          <img src="https://www.qichacha.com/material/theme/chacha/cms/v2/images/muhou.png">
          <button class="btn btn-primary mt-3 f-12">查看关联图谱</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
