.selector {
  color: #3c4144;
  padding: 0.75rem 0;
  flex-grow: 1;
  text-align: center;
}

.selector:hover {
  color: #128bed;
  border-left: 1px solid #f0f0f1;
  border-right: 1px solid #f0f0f1;
  background-color: #f6f6f7;
}

.active {
  color: #128bed;
  border-left: 1px solid #f0f0f1;
  border-right: 1px solid #f0f0f1;
}

.remove-left-border {
  border-left: none;
}

.remove-right-border {
  border-right: none;
}

.nsatus {
  font-weight: normal;
  display: inline-block;
  line-height: 16px;
  font-size: 14px;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  border: 1px solid;
}

.col_work {
  //color: #009944;
  color: #1e99bc;
}

.col_name {
  color: #F5A623;
}

.c_iconDt {
  height: 36px;
  border: 1px solid #128bed;
  color: #128bed;
  background-color: #fff;
  font-size: 16px;
  line-height: 36px;
  display: inline-block;
  border-radius: 2px;
  span {
    color: #128bed;
  }
}

.functions {
  a {
    color: #128bed;
  }
}

::ng-deep .ass-modal .modal-dialog {
  max-width: 40%;
  width: 40%;
}

.nnote-list .item {
  margin-bottom: 24px;
}

.nnote-list .content {
  float: left;
  width: 480px;
  font-size: 16px;
  color: #333;
  line-height: 18px;
}

.nnote-list .time {
  color: #999;
  font-size: 12px;
  margin-top: 4px;
}

.butn {
  border: none;
  color: #128bed;
  background: none;
  margin-left: -6px;
}

/*单选框*/
.choice {
  position: relative;
}

.choice .radio {
  position: relative;
  display: inline-block;
  font-weight: 400;
  color: #0c4757;
  padding-left: 25px;
  cursor: pointer;
}

.choice .radio input {
  position: absolute;
  left: -9999px;
}

.choice .radio i {
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 15px;
  height: 15px;
  outline: 0;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  transition: border-color .3s;
  -webkit-transition: border-color .3s;
}

.choice .radio input:hover + i {
  border-color: #1890ff;
}

.choice .radio input:checked + i {
  border-color: #1890ff;
}

.choice .radio input + i:after {
  position: absolute;
  content: '';
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #1890ff;
  opacity: 0;
  transition: opacity .1s;
  -webkit-transition: opacity .1s;
}

.choice .radio input:checked + i:after {
  opacity: 1;
}
