<div class="container-fluid" id="search">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center heading text-white">查企业，就上企查查！</h1>
    </div>
    <div class="tag-cloud col-md-12">
      <a href="#" class="tags f-16" id="tag-1">全部</a>

      <a href="#" class="tags f-16" id="tag-2">企业名</a>

      <a href="#" class="tags f-16" id="tag-3">法人/股东</a>

      <a href="#" class="tags f-16" id="tag-4">高管</a>

      <a href="#" class="tags f-16" id="tag-5">品牌/产品</a>

      <a href="#" class="tags f-16" id="tag-6">地址/电话</a>

      <a href="#" class="tags f-16" id="tag-7">经营范围</a>
    </div>
    <div class="col-md-8 offset-2">
      <div class="input-group row">
        <input type="search" name="q" class="form-control rounded-0 f-15" placeholder="搜索">
        <div class="input-group-btn">
          <button class="btn btn-info rounded-0" type="submit">搜一搜</button>
          <a>高级搜索</a>
        </div>
      </div>
    </div>
  </div>
</div>
