<div class="d-flex">
  <li class="mr-2"><a routerLink="/dashboard">首页</a></li>
  /
  <li class="mx-2"><a routerLink="/promise">失信信息查询</a></li>
  /
  <li class="mx-2">马云失信信息查询列表</li>
</div>
<mat-card class="card rounded-0 py-0 mt-2" style="box-shadow: none">
  <div class="py-3">
    <span class="f-15 text-dark">企信通为您找到<span class="text-danger">46 </span> 位符合条件的失信人</span>
  </div>
  <mat-divider></mat-divider>
  <div *ngFor="let index of [1,2,3,4,5]" class="d-flex justify-content-between">
    <div class="d-flex">
      <div class="py-3">
        <p class="mb-2 d-flex">
          <a routerLink="/promise-search/lostpro-info" class="mr-1"
             style="font-size: 18px; color: #e33244; font-weight: bold">马云</a>
        </p>
        <p class="f-14 mb-2" style="color: #888">案号：(2016)新2801执3216号</p>
        <p class="f-14 mb-2" style="color: #888">状态： <em>全部未履行</em><span
          class="ml-3" style="color: #888">立案日期：2016-11-29</span></p>
        <p class="f-14 mb-2">执行法院：库尔勒市人民法院</p>
        <!--<p class="f-14 mb-2"><i class="fa fa-search"></i>法定代表人：<em style="color: #dc3545; font-style: normal">{{c.represent}}</em></p>-->
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-card>
<ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="80" [maxSize]="8"
                [(page)]="page"></ngb-pagination>
