<div class="d-flex mb-2">
  <li class="mr-2"><a routerLink="/dashboard">首页</a></li>
  /
  <li class="mx-2"><a routerLink="/promise" (click)="selectZx(1)">被执行人查询</a></li>
  /
  <li class="mx-2"><a routerLink="/promise-search/executed">小米被执行人查询列表</a></li>
  /
  <li class="mx-2">被执行人查询详情</li>
</div>
<section class="panel panel-default patentdetailbox" id="searchlist">
  <table class="table table-bordered">
    <tbody>
    <tr>
      <td width="30%">被执行人名称：</td>
      <td><a class="text-primary" href="/pl_pfaaa9f5f45d0df00c0541bdccd11849.html">
        邓小米
      </a></td>
    </tr>
    <tr>
      <td width="30%">执行法院：</td>
      <td>新余市渝水区人民法院</td>
    </tr>
    <tr>
      <td width="30%">身份证号码/组织机构代码：</td>
      <td>3624231968****3512</td>
    </tr>
    <tr>
      <td width="30%">立案时间：</td>
      <td>2018-03-20</td>
    </tr>
    <tr>
      <td width="30%">案号：</td>
      <td>（2018）赣0502执1021号</td>
    </tr>
    <tr>
      <td width="30%">执行标的：</td>
      <td>181950</td>
    </tr>
    </tbody>
  </table>
</section>
