<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a routerLink="/dashboard">首页</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/promise" (click)="selectZx(1)">被执行人查询</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/promise-search/executed">马云被执行人查询列表</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    被执行人查询详情
  </nz-breadcrumb-item>
</nz-breadcrumb>
<section class="panel panel-default patentdetailbox mt-3">
  <table class="table table-bordered">
    <tbody>
    <tr>
      <td width="30%">被执行人名称：</td>
      <td><a class="text-primary" href="#">
        马云
      </a></td>
    </tr>
    <tr>
      <td width="30%">执行法院：</td>
      <td>固原市原州区人民法院</td>
    </tr>
    <tr>
      <td width="30%">身份证号码/组织机构代码：</td>
      <td>6422211988****0737</td>
    </tr>
    <tr>
      <td width="30%">立案时间：</td>
      <td>2018-02-01</td>
    </tr>
    <tr>
      <td width="30%">案号：</td>
      <td>(2018)宁0402执412号</td>
    </tr>
    <tr>
      <td width="30%">执行标的：</td>
      <td>20000</td>
    </tr>
    </tbody>
  </table>
</section>
