<div class="d-flex">
  <li class="mr-2"><a routerLink="/dashboard">首页</a></li>
  /
  <li class="mx-2"><a routerLink="/promise" (click)="selectZx(2)">裁判文书查询</a></li>
  /
  <li class="mx-2"><a routerLink="/promise-search/referee">马云裁判文书查询列表</a></li>
  /
  <li class="mx-2">马云裁判文书查询列表</li>
</div>
<section class="panel panel-default patentdetailbox wenshu-box mt-3">
  <div id="wsview">
    <div style="TEXT-ALIGN: center; LINE-HEIGHT: 25pt; MARGIN: 0.5pt 0cm; FONT-FAMILY: 宋体; FONT-SIZE: 22pt;">
      甘肃省天水市麦积区人民法院
    </div>
    <div style="TEXT-ALIGN: center; LINE-HEIGHT: 30pt; MARGIN: 0.5pt 0cm; FONT-FAMILY: 仿宋; FONT-SIZE: 26pt;">
      刑 事 判 决 书
    </div>
    <div style="TEXT-ALIGN: right; LINE-HEIGHT: 30pt; MARGIN: 0.5pt 0cm;  FONT-FAMILY: 仿宋;FONT-SIZE: 16pt; ">
      （2016）甘0503刑初348号
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      公诉机关天水市麦积区人民检察院。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      被告人马某，男。2016年8月29日因涉嫌犯非法买卖枪支、弹药罪被天水市公安局麦积分局拘留，同年9月30日被逮捕。现羁押于天水市麦积区看守所。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      辩护人崔文奎，<a href="https://www.qichacha.com/firm_w0a5ae728f8a52ea473ec94b51872866.html" target="_blank">甘肃端方律师事务所</a>律师。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      天水市麦积区人民检察院以天麦检诉刑诉[2016]314号起诉书指控被告人马某犯非法买卖枪支罪，于2016年11月18日向本院提起公诉。本院于同日立案，并依法组成合议庭，公开开庭审理了本案。天水市麦积区人民检察院指派代理检察员魏璇出庭支持公诉，被告人马某及其辩护人崔文奎到庭参加诉讼，现已审理终结。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      天水市麦积区人民检察院指控称，被告人马某于2015年12月至2016年1月期间从淘宝网上的“快排发”网店购买气枪配件，收到配件后将其组装成2支气枪。2016年8月29日，公安民警从天水市麦积区麦积镇麦积村二组被告人马某家中查获以上2支气枪。经甘肃省公安厅物证鉴定中心鉴定：该2支气枪认定为枪支，以压缩气体为动力，能正常击发匹配弹丸，具有致伤力。就此指控，公诉机关提供了相应证据，认为被告人马某违反枪支管理规定，非法购买气枪2支，其行为触犯了《中华人民共和国刑法》第一百二十五条之规定，构成非法买卖枪支罪。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      被告人马某对公诉机关指控的犯罪事实及罪名均无异议，并当庭自愿认罪。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      辩护人对起诉书指控被告人马某的行为构成非法买卖枪支罪不持异议，但提出被告人具有以下从轻处罚情节：1.从被告人的犯罪动机和实施犯罪后的行为来看，其主观恶性不深，社会危害性、人身危害性较小；2.被告人认罪态度好，根据《中华人民共和国刑法》第六十七条第三款的规定，被告人虽不具有自首的情节，但其如实供述了自己的罪行，可以从轻处罚；3.被告人平时表现一贯良好，没有前科劣迹。综上，建议对被告人从轻处罚，并适用缓刑。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      经审理查明，2015年12月至2016年1月期间，被告人马某从淘宝网上的网店购买气枪配件，收到配件后将其组装成单发快排式气枪2支。2016年8月29日，天水市公安局麦积分局刑事侦查大队在核查涉枪案件线索时，从被告人马某位于天水市麦积区麦积镇麦积村二组的家中查获并扣押单发快排式气枪2支，并将其抓获。经甘肃省公安厅物证鉴定中心鉴定：该2支气枪认定为枪支，以压缩气体为动力，能正常击发匹配弹丸，具有致伤力。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      上述事实，有公诉机关提交，并经法庭质证、认证的下列证据予以证明：
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      1.天水市公安局麦积分局刑事侦查大队受案登记表及天水市公安局麦积分局立案决定书。证明本案来源。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      2.甘肃省公安厅线索核查通知及相关材料，被告人马某的供述，天水市公安局麦积分局刑事警察大队抓获经过，网络购物记录，照片。证明2015年12月至2016年1月期间，被告人马某从淘宝网上的网店购买气枪配件，收到配件后将其组装成单发快排式气枪2支。2016年8月29日，天水市公安局麦积分局刑事侦查大队在核查涉枪案件线索时，从被告人马某位于天水市麦积区麦积镇麦积村二组的家中查获并扣押单发快排式气枪2支，并将其抓获。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      3.甘肃省公安厅物证鉴定中心（甘）公（刑）鉴（痕检）[2016]308号检验鉴定意见书。证明被告人马某买卖的气枪2支认定为枪支，以压缩气体为动力，能正常击发匹配弹丸，具有致伤力的事实。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      4.天水市公安局麦积分局刑事警察大队扣押物品、文件清单、办案说明。证明涉案枪支2支被天水市公安局麦积分局依法扣押的事实。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      5.户籍证明。证明被告人马某的出生时间等基本情况。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      以上证据，经庭审质证，被告人及其辩护人均无异议。能够证明本案事实，来源合法，且符合刑事诉讼证据规则，客观、关联、合法，均已作为本案定案根据当庭予以确认。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      庭审中，公诉机关当庭提交天水市麦积区麦积镇卫生院荣誉证书，天水市麦积区麦积镇卫生院、天水市麦积区麦积镇人民政府、天水市麦积区麦积镇麦积村村民委员会个人证明，欲证明被告人一贯表现良好，本院认为上述证据与本案指控的犯罪事实无关联性，故不予采信。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      本院认为，被告人马某无视国法，违反枪支管理规定，非法买卖以压缩气体为动力的非军用枪支2支，其行为确已构成非法买卖枪支罪，公诉机关指控的犯罪事实成立，予以支持。鉴于被告人被公安机关抓获后，如实供述了自己的犯罪事实，系坦白，依法可以从轻处罚；购买枪支的目的是娱乐，其犯罪主观恶性不大，可酌情从轻处罚。辩护人的相关辩护意见成立，予以采纳。综上，本院决定对被告人马某从轻处罚。据此，为了打击犯罪，维护社会治安秩序，保护社会公共安全，依照《中华人民共和国刑法》第一百二十五条第一款、第六十四条、第六十七条第三款、第四十五条、第七十二条第一款、第七十三条第二款、第三款和最高人民法院《关于审理非法制造、买卖、运输枪支、弹药、爆炸物等刑事案件具体应用法律若干问题的解释》第一条第一款第（二）项之规定，判决如下：
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      一、被告人马某犯非法买卖枪支罪，判处有期徒刑三年，缓刑三年。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      （缓刑考验期自判决确定之日起计算。）
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      二、扣押的枪支2支，依法予以没收。
    </div>
    <div
      style="LINE-HEIGHT: 25pt;TEXT-ALIGN:justify;TEXT-JUSTIFY:inter-ideograph; TEXT-INDENT: 30pt; MARGIN: 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      如不服本判决，可在接到判决书的第二日起十日内，通过本院或者直接向甘肃省天水市中级人民法院提出上诉，书面上诉的应当提交上诉状正本一份，副本二份。
    </div>
    <div style="TEXT-ALIGN: right; LINE-HEIGHT: 25pt; MARGIN: 0.5pt 72pt 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      审　判　长　曹　勇
    </div>
    <div style="TEXT-ALIGN: right; LINE-HEIGHT: 25pt; MARGIN: 0.5pt 72pt 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      代理审判员　刘　茜
    </div>
    <div style="TEXT-ALIGN: right; LINE-HEIGHT: 25pt; MARGIN: 0.5pt 72pt 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      人民陪审员　陈旺喜
    </div>
    <br>
    <div style="TEXT-ALIGN: right; LINE-HEIGHT: 25pt; MARGIN: 0.5pt 72pt 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      二〇一六年十二月七日
    </div>
    <div style="TEXT-ALIGN: right; LINE-HEIGHT: 25pt; MARGIN: 0.5pt 72pt 0.5pt 0cm;FONT-FAMILY: 仿宋; FONT-SIZE: 16pt;">
      书　记　员　金文洁
    </div>
  </div>
</section>
