<div class="d-flex">
  <li class="mr-2"><a routerLink="/dashboard">首页</a></li>
  /
  <li class="mx-2"><a routerLink="/brands" (click)="selectZx(3)">软件著作权查询</a></li>
  /
  <li class="mx-2">小米软件著作权查询列表</li>
</div>
<mat-card class="card rounded-0 py-0 mt-3" style="box-shadow: none">
  <div class="py-3">
    <span class="f-15 text-dark">企信通为您找到<span class="text-danger">46 </span> 位符合条件的人员</span>
  </div>
  <mat-divider></mat-divider>
  <div *ngFor="let index of [1,2,3,4,5]" class="d-flex justify-content-between">
    <div class="d-flex">
      <div class="py-3">
        <p class="mb-2 d-flex">
          <a routerLink="/brand-info" class="mr-1"
             style="font-size: 18px; font-weight: bold"><span><em>小米</em></span>系统软件</a>
        </p>
        <p class="f-14 mb-2" style="color: #888">登记号：2014SR060783<span
          class="ml-3" style="color: #888">分类号：30100-0000</span></p>
        <p class="f-14 mb-2" style="color: #888">软件简称：<em>小米</em>系统<span
          class="ml-3" style="color: #888">版本号：V1.0</span></p>
        <p class="f-14 mb-2" style="color: #888">首次发表日期：2013-11-29<span
          class="ml-3" style="color: #888">登记批准日期：2014-05-15</span></p>
        <p class="f-14 mb-2">软件著作权人：<a style="color: #007AFC">北京小米移动软件有限公司</a></p>
        <!--<p class="f-14 mb-2"><i class="fa fa-search"></i>法定代表人：<em style="color: #dc3545; font-style: normal">{{c.represent}}</em></p>-->
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-card>
<ngb-pagination class="d-flex mt-4 justify-content-end" [collectionSize]="80" [maxSize]="8"
                [(page)]="page"></ngb-pagination>
