.attention_content {
  a {
    color: #000;
  }
  a:hover {
    color: #128bed;
  }
}

textarea.form-control {
  height: auto;
}

.butn {
  border: none;
  color: #128bed;
  background: none;
  margin-left: -6px;
}
