<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a routerLink="/dashboard">首页</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/brands" (click)="selectZx(1)">专利查询</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/brand-search/patent">小米专利查询列表</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    专利查询详情
  </nz-breadcrumb-item>
</nz-breadcrumb>
<section class="panel panel-default patentdetailbox mt-3">
  <table class="table   table-bordered">
    <tbody>
    <tr>
      <td width="30%">名称：</td>
      <td>包装箱（小米）</td>
    </tr>
    <tr>
      <td width="30%">申请号：</td>
      <td>CN201330350602.6</td>
    </tr>
    <tr>
      <td width="30%">申请日：</td>
      <td>2013-07-24</td>
    </tr>
    <tr>
      <td width="30%">申请公布号：</td>
      <td>CN302686412S</td>
    </tr>
    <tr>
      <td width="30%">申请公布日：</td>
      <td>2013-12-18</td>
    </tr>
    <tr>
      <td width="30%">发明人：</td>
      <td>
        王子壮
      </td>
    </tr>
    <tr>
      <td width="30%">类型：</td>
      <td>外观设计</td>
    </tr>
    <tr>
      <td width="30%">专利代理机构：</td>
      <td><a class="text-primary" href="/firm_c164dd44be855faa90acf5ca893ffc01.html">
        太原高欣科创专利代理事务所(普通合伙)
      </a></td>
    </tr>
    <tr>
      <td width="30%">法律状态：</td>
      <td>
        专利权的终止
      </td>
    </tr>
    <tr>
      <td width="30%">法律历史状态</td>
      <td>
        授权&nbsp;&nbsp;2013-12-18&nbsp;&nbsp;→ 专利权的终止&nbsp;&nbsp;2016-09-07&nbsp;&nbsp;
      </td>
    </tr>
    <tr>
      <td width="30%">摘要：</td>
      <td>
        1．本外观设计产品的名称：包装箱（小米）。2．本外观设计产品的用途：本外观设计产品用于包装小米。3．本外观设计产品的设计要点：形状和图案的结合。4．最能表明本外观设计设计要点的图片或照片：主视图。5．省略视图：仰视图无明显结构特征，故省略；后视图与主视图相同，故省略。6．请求保护的外观设计包含色彩。
      </td>
    </tr>
    </tbody>
  </table>
</section>
