.node-name {
  font-family: 'Lato';
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 13px;
}

.value-name {
  font-family: 'Lato';
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 11px;
}
