<mat-card style="box-shadow: none;padding: 0" class="card rounded-0">
  <div class="d-flex">
    <div class="d-flex">
      <li class="px-3 pt-3 pb-2 tab_content" *ngFor="let tab of tabs;let idx=index" [class.tab_active]="flag_tabs[idx]">
        <a (click)="changeTab(idx)">{{tab}}</a>
      </li>
    </div>
    <div class="ml-auto mt-2 mr-2">
      <button class="btn btn-outline-primary btn-sm" (click)="editModal(editg)"><i class="fa fa-plus-circle mr-1"></i>编辑分组
      </button>
    </div>
  </div>
  <table class="table table-hover b-light" style="margin-bottom: 0">
    <thead>
    <tr>
      <th width="10%">企业名称</th>
      <th width="15%">关注日期</th>
      <th width="10%">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr class="attention_content">
      <td><a class="vertical-middle" href="#">小米科技有限责任公司</a></td>
      <td class="vertical-middle">2018-07-29</td>
      <td class="attention_edit">
        <button class="butn" (click)="openModal(edit)">
          <span>编辑</span>
        </button>
        <ng-template #edit let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">选择分组</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <div class="mb-2 choice" *ngFor="let g of groups">
                <label class="radio">{{g}}<input type="radio" name="group" [(ngModel)]="group" [value]="g"
                                                 (click)="onCheck(g)"><i></i></label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="c('Save click')">保存</button>
          </div>
        </ng-template>
        <button class="butn">
          <span>删除</span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <ng-template #editg class="editg" let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">编辑分组</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="new-add">
        <a (click)="adGroup()"><span class="plus">+</span><span class="caption">新建分组</span></a>
      </div>
      <div *ngIf="addGroup" class="col-xs-24 margin-t-1x">
        <div class="group-label">
          <label class="sr-only">分组名称</label>
          <input class="group-content" value="" placeholder="输入分组名字" maxlength="50">
          <div class="btns">
            <button class="mr-2 btn btn-primary btn-sm" (click)="addSave()">保存</button>
            <button class="btn btn-outline-dark btn-sm" (click)="addCancel()">取消</button>
          </div>
        </div>
      </div>
      <div *ngFor="let group of groups; let idx=index">
        <div *ngIf="saveGroup[idx]" class="col-xs-24 margin-t-1x">
          <div class="group-label">
            <div class="group-label-inner hidelong">{{group}}
              <div class="icons font-16">
                <span class="icon icon-rename cursor-p"></span><span
                class="icon icon-delete margin-l-1x cursor-p"></span>
              </div>
              <div class="btns hide">
                <button class="butn mr-2" style="color: #d3d3d3;" (click)="edGroup(idx)">
                  <i class="fa fa-pencil" style="font-size: 22px;"></i>
                </button>
                <button class="butn" style="color: #d3d3d3">
                  <i class="fa fa-trash" style="font-size: 22px"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!saveGroup[idx]" class="col-xs-24 margin-t-1x">
          <div class="group-label">
            <label class="sr-only">分组名称</label>
            <input class="group-content" value="" placeholder="{{group}}" maxlength="50">
            <div class="btns">
              <button class="mr-2 btn btn-primary btn-sm" (click)="saGroup(idx)">保存</button>
              <button class="btn btn-outline-dark btn-sm" (click)="saGroup(idx)">取消</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</mat-card>
