input {
  text-indent: 5px;
}

li {
  list-style: none;
}

.rel_head {
  cursor: pointer;
  li {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .active {
    color: #ffffff;
    background-color: #00AAEE;
  }
}

.ana-spot {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #128bed;
  box-shadow: 0 1px 1px #128bed;
}

.ana-spot2 {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #FF7F00;
  box-shadow: 0 1px 1px #FF7F00;
}

.ana-input-range {
  border-radius: 10px;
  height: 2px;
  -webkit-appearance: none;
  background: -webkit-linear-gradient(#059CFA, #059CFA) no-repeat;
  padding: 0.075rem 0.75rem;
}

.rel-history {
  li {
    font-size: 13px;
  }
}

.panel-all {
  color: #fff;
  background: #88c5f6;
  font-weight: bold;
  border-radius: 4px;
  border-color: #eaeef1;
  a:hover {
    color: #fff;
  }
}

:host /deep/ .myclass {
  .cuppa-dropdown {
    .selected-list {
      .c-btn {
        padding: 2px !important;
        font-size: 13px;
        width: 100px;
        box-shadow: none;
        .c-angle-down {
          width: 12px;
          height: 12px;
          top: 40%;
        }
        .c-angle-up {
          width: 12px;
          height: 12px;
          top: 40%;
        }
      }
    }
  }
}

.ana-uncheck {
  margin-top: 2px;
}

.search {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 222px;
  height: 30px;
  padding: 2px 2px 2px 72px;
  background-color: #e5e9ef;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 0.375rem;
  border: 1px solid #4791ff;
  font-size: 12px;
  z-index: 10;
}

.search .searchform {
  background-color: #fff;
  background-color: hsla(0, 0%, 100%, 0.88);
  display: block;
  height: 27px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s;
  -o-transition: 0.2s background-color;
  transition: background-color 0.2s;
}

.search-keyword {
  float: left;
  width: 184px;
  color: #222;
  font-size: 14px;
  overflow: hidden;
  height: 27px;
  line-height: 27px;
  padding: 0 12px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  outline: none;
}

.search-submit {
  display: block;
  position: absolute;
  right: 0;
  width: 48px;
  min-width: 0;
  cursor: pointer;
  height: 27px;
  background: url('../../../assets/img/search.svg') 10px 0 no-repeat;
  margin: 0;
  padding: 0;
  border: 0;
}

.bilibili-suggest {
  position: relative;
  border: 1px solid #e5e9ef;
  margin-top: 4px;
  background: #fff;
  z-index: 99999;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  padding-bottom: 5px;
  font-size: 12px;
  padding-left: 0;
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

search {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 222px;
  height: 30px;
  padding: 2px 2px 2px 72px;
  background-color: #e5e9ef;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 0.375rem;
  border: 1px solid #4791ff;
  font-size: 12px;
  z-index: 10;
}

.search .searchform {
  background-color: #fff;
  background-color: hsla(0, 0%, 100%, 0.88);
  display: block;
  height: 27px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s;
  -o-transition: 0.2s background-color;
  transition: background-color 0.2s;
}

.search-keyword {
  float: left;
  width: 184px;
  color: #222;
  font-size: 14px;
  overflow: hidden;
  height: 27px;
  line-height: 27px;
  padding: 0 12px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  outline: none;
}

.search-submit {
  display: block;
  position: absolute;
  right: 0;
  width: 48px;
  min-width: 0;
  cursor: pointer;
  height: 27px;
  background: url('../../../assets/img/search.svg') 10px 0 no-repeat;
  margin: 0;
  padding: 0;
  border: 0;
}

.bilibili-suggest {
  position: relative;
  border: 1px solid #e5e9ef;
  margin-top: 4px;
  background: #fff;
  z-index: 99999;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  padding-bottom: 5px;
  font-size: 12px;
  padding-left: 0;
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

.bilibili-suggest .b-line {
  border-top: 1px solid #e5e9ef;
  position: relative;
  height: 10px;
  margin: 10px 10px 0;
}

.bilibili-suggest .b-line p {
  margin-top: -10px;
  text-align: center;
}

.bilibili-suggest .b-line span {
  display: inline-block;
  padding: 0 10px;
  height: 18px;
  text-align: center;
  cursor: pointer;
  color: #99a2aa;
  background: #fff;
}

.bilibili-suggest .suggest-item {
  padding: 6px 10px;
  cursor: pointer;
  word-wrap: break-word;
  word-break: break-all;
  display: block;
  color: #222;
  position: relative;
}

.bilibili-suggest .suggest-item a {
  color: #222;
  display: block;
  max-width: 200px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bilibili-suggest .suggest-item:hover {
  background-color: #e5e9ef;
}

ul {
  margin-top: 0.75rem;
}

.ana-timeline .point {
  width: 12px;
  height: 12px;
  font-size: 1.4em;
  background: #46a4da;
  border-radius: 50%;
  text-align: center;
  margin-top: 6px;
}

.ana-timeline .content {
  margin-left: 20px;
}

.ana-timeline .content .com {
  color: #333;
}

/*横条样式*/
input[type=range] {
  -webkit-appearance: none; /*清除系统默认样式*/
  width: 100%;
  /*background: -webkit-linear-gradient(#91d5ff, #91d5ff) no-repeat, #ddd;*//*设置左边颜色为#61bd12，右边颜色为#ddd*/
  background: -webkit-linear-gradient(#91d5ff, #91d5ff) no-repeat;
  background-size: 0% 100%; /*设置左右宽度比例*/
  height: 4px;
  border-radius: 4px;
}

/*拖动块的样式*/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /*清除系统默认样式*/
  /*  background: #fff; !*拖动块背景*!*/
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #91d5ff;
  background-color: #fff;
}
